body{
	font-family: verdana;
	letter-spacing: 1px;
	font-size: 12px;
	background: url(https://res.cloudinary.com/ppapaupaul/image/upload/v1567679712/bckgrnd_qsqfak.png);

}

p{
	text-transform: uppercase;
	text-align: center;
}
a{
	text-decoration: none;
	cursor: pointer;
}

.wrapper{
	width: 100%;
	height: auto;
}
.holder{
	width: 60%;
	height: auto;
	margin: auto;
	padding: 10px;
	background: url();
	overflow: hidden;
}

.holder .header{
	text-transform: uppercase;
	text-align: center;
	border: solid red;
	font-size: 30px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 50px
}
.holder p{
	text-transform: uppercase;
	text-align: center;

}

.holder .grid1{
	width: 30%;
	height: auto;
	float: left;
	margin-right: 3px;
	margin-top: 50px;
	text-align: center;
}
.grid1 a:hover{
	color: black;
	background: gray;
	padding: 5px;
	font-size: 10px;

}
.grid1 a:visited{
	color: red;
}

.grid1 img{
	border-radius: 20px;
	height: 60%;
	width: 100%;
	text-align: center;
	
}

.grid1 p{
	text-transform: uppercase;
	font-size: 18px;
	font-style: bold;

}

.grid1 br{
	text-transform: uppercase;
	font-size: 18px;
	font-style: bold;
}

.holder .grid2{
	width: 60%;
	height: auto;
	float: right;	
	margin: 0 auto;
	text-align: left;
	background: gray;
	color: #ffffff;
	margin-left: 3px;
	margin-top: 50px;
	padding:10px;
	border-radius: 20px 0;
}
.grid2 section{
	height: auto;
	width: auto;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	
	
}
.grid2 section p{
	font-size: normal;
	text-transform: none;
	text-align: left;
	text-decoration: justify;

	}

.media{
	height: auto;
	width: auto;
	margin: auto;
	text-align: center;
	}

.media img{
	height: 30px;
	width: 30px;
}
.media li{
		display: inline;
}
.form-input{
	width: 70%;
	height: 40px;
	border-radius: 50px;
	padding-left: 10px;
	font-size: 14px;
	text-align: left;
}

.message-input{
	width: 70%;
	height: 100px;
	padding-left: 5px;
}

.p-span{
	width: auto;
	text-align: left;
	color: #ffffff;
}
legend{
	font-size: 14px;
	color: yellow;
	padding-right: 10px;
	padding-left: 10px;
}
button{
	border-radius: 10px;
	padding: 10px;
	font-size: 13px;
	color: red;
}
label{
	font-size: 16px;
	text-align: left;
}
.img-span{
	display: block;
	margin: auto;
	height: 120px;
	width: 100px;
	background: url(https://res.cloudinary.com/ppapaupaul/image/upload/v1567679720/dp-150X120_ct8nl8.jpg);
	background-repeat: no-repeat;
	border-radius: 0 10px 0 10px;
}

.footer{
	width: 60%;
	height: auto;
	padding: 30px;
	background: gray;
	margin: auto;
	text-align: center;
	color: #ffffff;
}
